<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
  <h1>Connexion admnistrateur</h1>
  <div class="identifant">
    <label>Identifiant</label>
    <input placeholder="Identifiant" formControlName="controlIdentifiant" required autocomplete="off"/>
  </div>
  <div class="password">
    <label>Mot de passe</label>
    <input placeholder="Mot de passe" formControlName="controlPassword" required type="password"/>
  </div>
  <button type="submit" mat-raised-button color="primary" [disabled]="!formLogin.valid"><span class="color-dark">Connexion</span></button>
</form>
