<div class="container">
  <div class="image">
    <h1 class="contactez">Nous contactez</h1>
    <img src="../../../assets/contact.jpg" />
    <p class="souligner">support&#64;expressvoiture.fr</p>
    <p class="souligner">Appelez le 01 23 45 67 ##</p>
  </div>
  <div class="formulaire">
    <h1 class="form-title">Formulaire de contact</h1>
    <form action="/" method="post">
      <div class="input-container">
        <div class="nom">
          <label>Nom</label>
          <input class="lato-regular-italic" type="text" name="nom" placeholder="Nom" required>
        </div>
        <div class="email">
          <label>E-mail</label>
          <input class="lato-regular-italic email-input" type="text" name="email" placeholder="E-mail" required>
        </div>
      </div>
      <div class="message">
        <label>Message</label>
        <textarea class="lato-regular-italic message-input" type="text" name="message" placeholder="Message" required></textarea>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</div>
