.background-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

h1 {
  font-size: 128px;
  margin-bottom: 0px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 1px;
}

#buttonCatalogue {
  position: absolute;
  bottom: 80px;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 32px;
  border: 2px solid black;
  width: 326px;
  height: 50px;
  font-size: 22px;
}

