
<div class="annonce">
  <a class="retour" href="catalogue">
    <img class="fleche" src="../../../assets/fleche-wheat.png" />
    <span class="lato-bold texte-retour">Retour</span>
  </a>
  <s id="s1"></s>
  <s id="s2"></s>
  <s id="s3"></s>
  <s id="s4"></s>
  <div class="images">
    <h1 class="annonce-titre">{{annonce.titre}}</h1>
    <div class="slider">
      @if(currentPhoto != ''){
        <img src="../../../assets/img/annonces/{{currentPhoto}}" /><br /><br />
      }
    </div>
    <div class="bullets">
      @for (photo of annonce.photos; track annonce.photos){
        @if (photo == currentPhoto){
          <button class="active" (click)="selectPhoto(photo)"></button>
        } @else {
          <button (click)="selectPhoto(photo)"></button>
        }
      }
    </div>
    <span>Prix de vente TTC : {{annonce.prixVente | currency:'EUR':'symbol-narrow':'1.2-2'}}</span><br /><br />
    <span class="souligner">Appelez le 01 23 45 67 ##</span>
  </div>
  
  <div class="description">
    <span class="titre-description lato-bold">Description</span>
    <p>
      {{annonce.description}}
    </p>
  </div>
</div>

