
<div class="annonce">
  <a class="retour" href="catalogue">
    <img class="fleche" src="../../../assets/fleche-wheat.png" />
    <span class="lato-bold texte-retour">Retour</span>
  </a>
  <div class="image">
    <h1 class="annonce-titre">{{annonce.titre}}</h1>
    <img src="../../../assets/img/annonces/{{annonce.photos[0]}}" /><br /><br />
    <span>Prix de vente TTC : {{annonce.prixVente | currency:'EUR':'symbol-narrow':'1.2-2'}}</span><br /><br />
    <span class="souligner">Appelez le 01 23 45 67 ##</span>
  </div>
  <div class="description">
    <span class="titre-description lato-bold">Description</span>
    <p>
      Découvrez la pure essence du plaisir de conduire avec la Mazda Miata LE 2019, une édition spéciale qui marie élégance et performances de manière inégalée. Avec son design extérieur saisissant et ses caractéristiques exclusives, cette voiture incarne l'héritage de la Miata tout en offrant une expérience de conduite exaltante.
      Dotée d'un moteur réactif et d'une transmission manuelle à six vitesses, cette Miata offre un contrôle total sur la route, tandis que l'habitacle luxueux en cuir et les technologies de pointe garantissent confort et connectivité. Que ce soit pour des virées décontractées le week-end ou pour des trajets quotidiens, cette Mazda Miata LE 2019 est prête à offrir des moments inoubliables sur la route.
      Ne ratez pas l'opportunité de posséder cette édition spéciale de la légendaire Miata. Contactez-nous dès aujourd'hui pour planifier un essai routier et découvrir tout ce que cette voiture emblématique a à offrir.
    </p>
  </div>
</div>

