<div class="dialog">
  <h1>Modifier mot de passe</h1>
  <p>En cliquant sur valider vous receverez un email contenant un lien.<br />
  Ce lien vous permettra de remplacer votre mot de passe actuel par un nouveau que vous devrez saisir.</p>
  <button class="btn-cancel" mat-raised-button color="primary" mat-dialog-close><span class="lato-bold color-dark">Annuler</span></button>
  <button class="btn-submit" mat-raised-button color="primary" mat-dialog-close (click)="Submit()"><span class="lato-bold color-dark">Valider</span></button>
</div>
