.dialog {
  text-align: center;
  background-color: #1B1B1B;
  padding: 100px;
  border-radius: 4px;
  border: solid 1px #EBD7AE;
}

h1 {
  margin-top: -60px;
}

.btn-cancel, .btn-submit {
  border-radius: 32px;
  border: 2px black solid;
}

.btn-cancel {
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.btn-submit {
  position: absolute;
  right: 50px;
  bottom: 20px;
}
