<form [formGroup]="formNewPassword" (ngSubmit)="onSubmit()">
  <h1 autofocus>Modification du mot de passe</h1>
  <p class="lato-regular-italic">Pour la création de votre nouveau mot de passe, il doit contenir au moins un caractère non alphanumérique, un chiffre et une lettre majuscule.</p>
  <mat-form-field>
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput formControlName="controlNewPassword" type="password">
  </mat-form-field><br />
  <mat-form-field>
    <mat-label>Confirmation nouveau mot de passe</mat-label>
    <input matInput formControlName="controlNewPasswordConfirm" type="password">
  </mat-form-field>
  <div class="btn-container">
    <a href="admin/voitures" mat-raised-button color="primary"><span class="lato-bold">Annuler</span></a>
    <button class="btn-submit" type="submit" mat-raised-button color="primary" [disabled]="!formNewPassword.valid"><span class="lato-bold">Valider</span></button>
  </div>
</form>
